{% extends "layout.html" %}
{% block content %}
<main>
    <div class="jumbotron">
        <h1>List of upcoming cycles:</h1>
        <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
        .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
        </style>
        <table class="tg">
        <thead>
          <tr>
            <th class="tg-1wig">Cycle</th>
            <th class="tg-1wig">Institute</th>
            <th class="tg-amwm">School</th>
            <th class="tg-1wig">Semester</th>
            <th class="tg-1wig">Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0lax">01</td>
            <td class="tg-0lax">MTA</td>
            <td class="tg-0lax">Information <span style="font-weight:400;font-style:normal">Systems</span></td>
            <td class="tg-0lax">Winter</td>
            <td class="tg-0lax">2020</td>
          </tr>
          <tr>
            <td class="tg-0lax">02</td>
            <td class="tg-0lax">MTA</td>
            <td class="tg-0lax">Computer Science</td>
            <td class="tg-0lax">Spring</td>
            <td class="tg-0lax">2020</td>
          </tr>
          <tr>
            <td class="tg-0lax">03</td>
            <td class="tg-0lax">IDC</td>
            <td class="tg-0lax">Computer Science</td>
            <td class="tg-0lax">Summer</td>
            <td class="tg-0lax">2020</td>
          </tr>
          <tr>
            <td class="tg-0lax">04</td>
            <td class="tg-0lax">MTA</td>
            <td class="tg-0lax">Information <span style="font-weight:400;font-style:normal">Systems</span></td>
            <td class="tg-0lax">Winter</td>
            <td class="tg-0lax">2021</td>
          </tr>
          <tr>
            <td class="tg-0lax">05</td>
            <td class="tg-0lax">MTA</td>
            <td class="tg-0lax">Computer Science</td>
            <td class="tg-0lax">Spring</td>
            <td class="tg-0lax">2021</td>
          </tr>
        </tbody>
        </table>
</main>
{% endblock content %}
